*{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
}
html{
	height:100%;
}
body{
	height:100%;
}

.logo{
	margin-top: 3%;
	margin-left: 3%;
	background-image: url('./images/airbnb.jpeg');
	background-position: center;
	background-size: cover;
	width:10%;
	height:10%;
	margin-bottom: 5%;
}

#menu{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	list-style: none;
	grid-column-gap: 6%;
	padding-left: 15%;
	padding-right: 5%;
	width: 60%;
	padding-bottom: 10%;
	border-bottom: : 1px solid rgb(186, 186, 186);
}

#country-banner{
	display:grid;
	margin-left: 15%;
	margin-right: 5%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 6%;
	width: 80%;
}

.country_minibanner{
	display: flex;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 10%;
	border: 1px solid rgb(186, 186, 186);
	height:130%;
}

.country-imagine{
	width:50%;
	background-position: center;
	background-size: cover;
	background-image: url('./images/paris.jpg');
}
.country-info{
	padding-left: 5%;
	padding-right: 15%;
	font-size: 14px;
	padding-top: 5%;
	padding-bottom:5%;
}
#menu > li > a {
	color: rgb(196, 196, 196);
	text-decoration: none;

}

#menu > li{
	border: 1px solid rgb(186, 186, 186);
	border-radius: 5px;
	text-align: center;
	padding-right:15%;
	padding-left:15%;
	padding-top: 10%;
	padding-bottom: 10%;
	width:100%;
}

#houses-grid{
	height:80%;
	display: grid;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 10%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 15%;
	grid-column-gap: 10%;
	margin-bottom: 10%;
}

.houses-imagine{
	height:60%;
	background-position: center;
	background-size: cover;
	background-image: url('https://res.cloudinary.com/do8qdtgy8/image/upload/v1561451842/airbnb/parigi_l1yw0d.jpg');
}

.houses{
	height:100%;
}

.house-info{
	border: 1px solid rgb(152, 152, 152)
}
