*{
	padding:0;
	margin:0;
	font-family: 'Roboto', sans-serif;
}
html{
	height:100%;
}
body{
	height:100%;
	background-color: rgb(255, 255, 255);
	background-image: url('https://res.cloudinary.com/do8qdtgy8/image/upload/v1561622219/airbnb/background2_pqzlmn.jpg');
}

h2{
	display: inline-block;
}

.logo{
	background-image: url('https://res.cloudinary.com/do8qdtgy8/image/upload/v1561622372/airbnb/traveling-around-the-world-featured1-800x400_calhbe.jpg');
	background-position: center;
	background-size: cover;
	width:100%;
	height:20%;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
}

#menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	list-style: none;
	width: 70%;
	padding-bottom: 2%;
	border-bottom: : 1px solid rgb(186, 186, 186);
	margin: 0 auto;
}

#menu > li{
	background-color: white;
	border: 1px solid rgb(186, 186, 186);
	border-radius: 5px;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	width: 90%;
}

#price_max, #price_min, #rating_min,#rating_max {
	display: grid;
	grid-template-columns: 1fr;
	list-style: none;
	border-bottom: : 1px solid rgb(186, 186, 186);
}

.list_grid{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-content: center;
	grid-column-gap: 5%;
	width: 70%;
}

#city-banner{
	grid-row-gap: 7%;
}

#country-banner, #city-banner, #type-banner{
	height: 10%;
	display:grid;
	margin: 0 auto;
	width: 70%;
	padding-top: 3%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 6%;
}

#type-banner{
	height: 10%;
}

.city_minibanner, .type_minibanner, .country_minibanner{
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 1px solid rgb(186, 186, 186);
	height:100%;
	border-radius: 10px;
	background-color: white;
	grid-row-gap: 10%;
}

.city-imagine, .country-imagine, .type-imagine{
	width:80%;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.city-info{
	padding-right: 15%;
	font-size: 14px;
	padding-top: 5%;
	padding-bottom:5%;
}

.country-info{
	padding-right: 15%;
	font-size: 14px;
	padding-top: 5%;
	padding-bottom:5%;
}

.city-info{
	padding-right: 15%;
	font-size: 14px;
	padding-top: 5%;
	padding-bottom:5%;
}

#rating_min > li > a , #rating_max > li > a , #price_min > li > a , #price_max > li > a , #menu > li > a {
	color: rgb(196, 196, 196);
	text-decoration: none;
}

#rating_min > li , #rating_max > li , #price_min > li , #price_max > li{
	border: 1px solid rgb(186, 186, 186);
	border-radius: 5px;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	width:50%;
	background-color: white;
}

#houses-grid{
	height:80%;
	display: grid;
	margin-left: 15%;
	margin-right: 5%;
	margin-top: 10%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 15%;
	grid-column-gap: 10%;
	margin-bottom: 3%;
}

.houses-imagine{
	height:60%;
	background-position: center;
	background-size: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.house-info{
	border: 1px solid rgb(152, 152, 152);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


i{
	color: rgb(205, 187, 24);
}
